@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    transform: translate(0);
  }
}
